* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding-top: 50px;
}

body {
    background-color: #bbb9b9;
    padding-top: 300px;
    background-image: url("https://pngimg.com/d/notebook_PNG19223.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #000000;
    position: relative;
    left: 3%;
}
.container {
    max-width: 2100px;
    width: 500px;
    margin: 0 auto;
    justify-items: center;
    padding: 50px;
    padding-bottom: 50px;
}

table td {
    padding-right: 0px;
    padding-top: 26px;
}
form li {
    display: grid;
    align-content: center;
    padding-bottom: 15px;
}

button {
    position: relative;
    left: 2%;
    top: 45%;
    padding: 16px;
    background-color: rgb(7, 100, 240);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(8, 60, 138);
    border-radius: 9px;
}

form input {
    border-radius: 5px;
    border-color: #000000;
    height: 50px;
    width: 200px;
    position: relative;
    left: 2%;
    text-align: center;
    top: 50%;
}
table td {
    font-size: 20px;
}

