* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
    align-items: center;
}

#Tel-Png {
    height: 100px;
    width: 100px;
    position: relative;
    left: 31%;
}
body {
    background-color: #e7e7e7;
    padding-top: 300px;
}
header h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}
.container {
    max-width: 960px;
    width: 100px;
    margin: 0 auto;
}

table th {
    padding-right: 50px;
    padding-top: 70px;
}
form li {
    display: grid;
    align-content: center;
    padding-bottom: 15px;
}

button {
    position: absolute;
    left: 49.2%;
    padding: 16px;
    background-color: rgb(7, 100, 240);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form input {
    border: none;
    height: 50px;
    width: 200px;
    position: relative;
    left: -9%;
    text-align: center;
}

